---
const { title, summary, href } = Astro.props;
const base = import.meta.env.BASE_URL;

// Ensure no double slashes
const resolvedHref = `${base}${href.replace(/^\//, "")}`;
---

<article class="project-card">
  <h3>
    <a href={resolvedHref}>{title}</a>
  </h3>

  <p class="project-meta">{summary}</p>
</article>
